<div class="wrapper">
    <div class="content">
        <pre class="header-pre grid-align-center">
___________     .__.__    _________
\_   _____/__  _|__|  |   \_   ___ \  _________________
 |    __)_\  \/ /  |  |   /    \  \/ /  _ \_  __ \____ \
 |        \\   /|  |  |__ \     \___(  <_> )  | \/  |_> >
/_______  / \_/ |__|____/  \______  /\____/|__|  |   __/
        \/                        \/             |__|
        </pre>
    </div>
</div>

<p>
    Welcome to Evil Corp. Due to a suspected mole leak many of our services have been closed down or security has been tightened.
</p>
<p>
    Please return at a later time when we have dealt with the issue.
</p>
