<h1>Evil Corp Login</h1>
<form method="POST" action="/evilcorp-admin">
    <input class="login-inputs" name="username" placeholder="Username" type="text" required>
    <br>
    <br>
    <br>
    <input class="login-inputs" name="password" placeholder="Password" type="password" required>
    <br>
    <br>
    <br>
    <input class="login-button" type="submit" name="login" value="LOG IN">
</form>
<br>
<br>
<div id="error" class="error">
    Invalid Username and or Password
</div>
<script src="/js/login.js"></script>
