<h1>Secrets</h1>

<p>
    Hey listen, I've managed to infiltrate Evil Corp. They're up to no good. Luckily I was able to change the robots.txt so they wouldn't find this message. Turns out their bots respect robots.txt, who knew!
</p>
<p>
    I've got this <a href="/TOP-SECRET.zip">file</a> here but it's all locked down. I managed to find a scrap piece of paper with some piece of the password on it, but not all of it, it read: "b2vk1...". The passwords we used here were up to 10 characters lowercase alpha-numberic. Good luck!
</p>
<p>
    - A
</p>
<hr>
<pre>
    flag{r0b075_m155_fun_d1r5}
</pre>
