<!DOCTYPE html>
<html>
    <head>
        <title>
            {{#if title}}
                {{title}}
            {{else}}
                Evil Corp
            {{/if}}
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="wrapper main-content">
            <div class="content">
                {{{body}}}
            </div>
        </div>
        <div class="footer">
            <a class="content" href="/">Return Home</a>
        </div>
    </body>
</html>
